.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__cont {
    padding: 45px;
    background: #f6faff;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4204);
    border-radius: 2px;
  }
  &__title {
    text-align: center;
    h2 {
      font-size: 30px;
      line-height: 28px;
      letter-spacing: 1px;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
      line-height: 10px;
      letter-spacing: 1px;
      color: gray;
      margin-bottom: 50px;
    }
  }




  .input_block {
    width: 450px;
  }
}