.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;


  &__title {
    text-align: center;
    h2 {
      font-size: 30px;
      line-height: 28px;
      letter-spacing: 0.1px;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
      line-height: 10px;
      color: gray;
      margin-bottom: 50px;
    }
  }

  &__success-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 400px;
    h2 {
      font-size: 25px;
      line-height: 28px;
      letter-spacing: 0.1px;
      margin-bottom: 20px;
      margin-top: 35px;
    }

    p {
      font-size: 17px;
      line-height: 18px;
      color: gray;
      margin-bottom: 50px;
    }
  }
  .login-form-button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.1px;
  }
  &__register-link {
    text-align: center;
    display: block;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.1px;
    color: #ADADAD;
  }
  .input_block {
    width: 450px;
  }
}