.chat {
  display: flex;
  height: 100%;
  background-color: #fff;
  min-width:375px;
  margin: 0px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);

  &__sidebar {
    width: 320px;
    border-right: 1px solid #f7f7f7;

    &-header {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      height: 58px;
      border-bottom: 1px solid #f0eff7;
      margin-bottom: 20px;
      align-items: center;
      & > div {
        i {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }

    &-search {
      padding: 0 20px 20px 20px;

      .ant-input {
        background-color: #edecf9;
        border: 0;
        height: 36px;
        padding: 4px 11px 6px;
      }
    }

    &-dialogs {
      .dialogs {
        padding: 0 20px;
      }

    }
  }
  &__dialog {
    flex: 1;
    position: relative;
  }
}