@import "~styles/variables";

.message {
  $self: &;

  &__content {
    display: flex;
    max-width: 440px;
    margin-bottom: 20px;
    position: relative;

  }
  &__avatar {
    padding-bottom: 26px;
    display: flex;
    flex-direction: column-reverse;
  }
  &__img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-right: 15px;
    margin-bottom: 0;
    padding-bottom: 0px;
  }

  &__bubble {
    background: $blue_message;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0px;
    padding: 15px 10px 5px 10px;
    margin-bottom: 10px;

    p {
      color: #ffff;
      margin-bottom: 0px;
      font-size: 14px;
      line-height: 20px;
      }
  }
  
  &__date {
    font-size: 12px;
    opacity: 0.4;
  }

  &--isme {
    display: flex;
    flex-direction: row-reverse;

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;
    }

    #{$self}__avatar {
      img {
        margin-right: 0;
        margin-left: 13px;
      }
    }

    #{$self}__info {
    text-align: right;
    }

    #{$self}__dubble {
      background: #ffffff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.220444);
      border-radius: 12px 12px 0px 12px;

      #{$self}__text {
        color: $black;
      }
    }
  }
}